.webglcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

.interfacecontainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  width: 275px;
  height: 100%;
}
